.title {
    font-size: 3em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
}

.heading {
    font-size: 2em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
}

.body {
    font-size: 1.5em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
}

.background {
    background-color: rgb(8, 12, 16);
}

.background a {
  color: rgb(128, 128, 196);
}

#header {
    font-size: 2em;
    font-family: Consolas;
    color: rgb(196, 196, 196);
    padding: 1em 1em 1em 1em;
    background-color: rgb(32, 64, 96);
}

#main {
    background-color: rgb(16, 24, 32);
    margin: 2em 2em 16em 2em;
    padding: 2em 2em 8em 2em;
