.title {
    font-size: 3em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
}

.heading {
    font-size: 2em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
}

.body {
    font-size: 1.5em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
}

.background {
    background-color: rgb(8, 12, 16);
}

#header {
    font-size: 2em;
    font-family: Consolas;
    color: rgb(192, 192, 192);
    background-color: rgb(32, 64, 64);
}

#main {
    background-color: rgb(16, 24, 32);
    margin: 0.5em 0.5em 1em 1em;
}
